01_lead_scraper/workflows/linkedin_scrape.json
{
  "name": "linkedin_scrape",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2912,
        800
      ],
      "id": "ee491df3-52a0-434f-b164-fa70802c26b1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "2rJKkhh7vjpX7pvjg",
          "mode": "list",
          "cachedResultName": "LinkedIn Jobs Scraper | Remove Duplicate Jobs | Pay Per Result (cheap_scraper/linkedin-job-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/2rJKkhh7vjpX7pvjg/input"
        },
        "customBody": "{\n  \"keyword\": [\"AI engineer\", \"AI operator\", \"AI automation specialist\", \"AI solutions architect\", \"AI workflow designer\", \"Agentic AI\", \"AI implementation\", \"low-code AI\", \"AI specialist\", \"AI Ops\" ],\n  \"location\": \"Prague, Czechia\",\n  \"distance\": \"50\",\n  \"publishedAt\": \"r86400\",\n  \"jobType\": [\"full-time\", \"part-time\" ],\n  \"experienceLevel\": [\"associate\", \"mid-senior\"],\n  \"saveOnlyUniqueItems\": true\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -2672,
        800
      ],
      "id": "05c74c0a-17dc-4e1f-bd46-7d554cc8ca3d",
      "name": "Scrape linkedin jobs",
      "executeOnce": false,
      "credentials": {
        "apifyApi": {
          "id": "i5PH9MrmLNn1QJba",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NBCVFrfmAz4h6S1a",
          "mode": "list",
          "cachedResultUrl": "/workflow/NBCVFrfmAz4h6S1a",
          "cachedResultName": "dedupe_upsert"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1504,
        832
      ],
      "id": "a251351c-af49-4d0c-8a21-3e7eea767cf4",
      "name": "Call 'p1_lead_scrape_dedupe_upsert'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2336,
        816
      ],
      "id": "0cc01eb7-18ac-4e1f-abbd-7574be3bbdc1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2000,
        624
      ],
      "id": "e2254614-c2e1-42eb-b5ea-f995a759f8f5",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "jsCode": "const platformName = \"linkedin\";\n\nfor (const item of $input.all()) {\n  item.json.source = platformName;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        832
      ],
      "id": "6fec1fd7-ad2f-4729-aba6-bd5b99d4a835",
      "name": "add source"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "2rJKkhh7vjpX7pvjg",
          "mode": "list",
          "cachedResultName": "LinkedIn Jobs Scraper | Remove Duplicate Jobs | Pay Per Result (cheap_scraper/linkedin-job-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/2rJKkhh7vjpX7pvjg/input"
        },
        "customBody": "{\n  \"keyword\": [\"AI engineer\", \"AI operator\", \"AI automation specialist\", \"AI solutions architect\", \"AI workflow designer\", \"Agentic AI\", \"AI implementation\", \"low-code AI\", \"AI specialist\", \"AI Ops\" ],\n  \"location\": \"Prague, Czechia\",\n  \"distance\": \"50\",\n  \"publishedAt\": \"r86400\",\n  \"jobType\": [\"full-time\", \"part-time\" ],\n  \"experienceLevel\": [\"associate\", \"mid-senior\"],\n  \"saveOnlyUniqueItems\": true\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -2656,
        1280
      ],
      "id": "c47bfb33-915a-4cf7-81fc-abcff915cd0d",
      "name": "Scrape linkedin jobs 13",
      "executeOnce": false,
      "credentials": {
        "apifyApi": {
          "id": "i5PH9MrmLNn1QJba",
          "name": "Apify account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c6d132b-3f2c-404c-8fd7-73b4ab25a7ae",
              "name": "jobId",
              "value": "={{ $json.jobId }}",
              "type": "string"
            },
            {
              "id": "b023034d-a04b-4058-ab2f-1ad1827889b4",
              "name": "jobTitle",
              "value": "={{ $json.jobTitle }}",
              "type": "string"
            },
            {
              "id": "a85671e1-aa23-4ba4-94dd-a88998e26b96",
              "name": "jobUrl",
              "value": "={{ $json.jobUrl }}",
              "type": "string"
            },
            {
              "id": "a7609c01-4e31-43a0-940d-b97171f0123a",
              "name": "companyName",
              "value": "={{ $json.companyName }}",
              "type": "string"
            },
            {
              "id": "51e71c18-177a-4370-a63d-25f8001fce8e",
              "name": "companyUrl",
              "value": "={{ $json.companyUrl }}",
              "type": "string"
            },
            {
              "id": "ce6bae6a-2e69-4671-b2d3-08f6ff27fd81",
              "name": "companyLogo",
              "value": "={{ $json.companyLogo }}",
              "type": "string"
            },
            {
              "id": "0103b2e7-89df-48b2-a1dc-4b91932b8495",
              "name": "publishedAt",
              "value": "={{ $json.publishedAt }}",
              "type": "string"
            },
            {
              "id": "b8611d60-09ec-409e-a0c0-8a6d7da87ea0",
              "name": "applyUrl",
              "value": "={{ $json.applyUrl }}",
              "type": "string"
            },
            {
              "id": "008246ee-3829-4a26-af95-544f914e1fe9",
              "name": "location",
              "value": "={{ $json.location }}",
              "type": "string"
            },
            {
              "id": "949e43c8-0db8-420e-a39d-6be73d8c5efc",
              "name": "contractType",
              "value": "={{ $json.contractType }}",
              "type": "string"
            },
            {
              "id": "7e313d83-31bb-455f-83df-1c2bb8ef992d",
              "name": "experienceLevel",
              "value": "={{ $json.experienceLevel }}",
              "type": "string"
            },
            {
              "id": "30f4be42-bf3a-459d-bbb3-5000af3a21de",
              "name": "jobDescription",
              "value": "={{ $json.jobDescription }}",
              "type": "string"
            },
            {
              "id": "64980d27-ab7a-4a79-936f-49df553b6d2d",
              "name": "salaryInfo",
              "value": "={{ $json.salaryInfo }}",
              "type": "array"
            },
            {
              "id": "87782311-7ad5-4821-aea4-7d293c6b4f59",
              "name": "posterFullName",
              "value": "={{ $json.posterFullName }}",
              "type": "string"
            },
            {
              "id": "160cbda5-0d12-4d1a-a654-13a3e1ad720f",
              "name": "posterProfileUrl",
              "value": "={{ $json.posterProfileUrl }}",
              "type": "string"
            },
            {
              "id": "1e0e0a25-7bb2-443e-be17-220d44d95d92",
              "name": "sector",
              "value": "={{ $json.sector }}",
              "type": "string"
            },
            {
              "id": "d7ecf8bd-46b7-414c-8862-41811f709f0a",
              "name": "workMode",
              "value": "={{ $json.workMode }}",
              "type": "string"
            },
            {
              "id": "a43ad1be-2936-4dd3-ba10-fd613008347d",
              "name": "employmentType",
              "value": "={{ $json.employmentType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2032,
        832
      ],
      "id": "e8fdfffc-594f-48f5-b12b-1495eeeb9ca3",
      "name": "Standardize format (**adjust fields**)"
    },
    {
      "parameters": {
        "content": "## Test node\nPinned 13 already scraped jobs for testing",
        "height": 368,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2816,
        1136
      ],
      "id": "2ce9f8cf-82db-4515-8b87-7b41e7a16310",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Scrape linkedin jobs 13": [
      {
        "json": {
          "jobId": "4320858983",
          "jobTitle": "Senior Software Engineer - Typescript - Onchain",
          "location": "Czechia",
          "salaryInfo": [],
          "postedTime": "13 hours ago",
          "publishedAt": "2026-01-23T00:00:00.000Z",
          "searchString": "AI solutions architect - Prague, Czechia",
          "jobUrl": "https://cz.linkedin.com/jobs/view/senior-software-engineer-typescript-onchain-at-kraken-4320858983?trk=public_jobs_topcard-title",
          "companyName": "Kraken",
          "companyUrl": "https://www.linkedin.com/company/krakenfx?trk=public_jobs_topcard-org-name",
          "companyLogo": "https://media.licdn.com/dms/image/v2/D4E0BAQFm8yg0gGJN1A/company-logo_100_100/company-logo_100_100/0/1697458897774/krakenfx_logo?e=2147483647&v=beta&t=eKloAuDEVPC9OaJ_w4KCRTxyVcDAwzMTHzrlibyhqME",
          "jobDescription": "Building the Future of Crypto \n\nOur Krakenites are a world-class team with crypto conviction, united by our desire to discover and unlock the potential of crypto and blockchain technology.\n\nWhat makes us different?\n\nKraken is a mission-focused company rooted in crypto values. As a Krakenite, you’ll join us on our mission to accelerate the global adoption of crypto, so that everyone can achieve financial freedom and inclusion. For over a decade, Kraken’s focus on our mission and crypto ethos has attracted many of the most talented crypto experts in the world.\n\nBefore you apply, please read the Kraken Culture page to learn more about our internal culture, values, and mission. We also expect candidates to familiarize themselves with the Kraken app. Learn how to create a Kraken account here.\n\nAs a fully remote company, we have Krakenites in 70+ countries who speak over 50 languages. Krakenites are industry pioneers who develop premium crypto products for experienced traders, institutions, and newcomers to the space. Kraken is committed to industry-leading security, crypto education, and world-class client support through our products like Kraken Pro, Desktop, Wallet, and Kraken Futures.\n\nBecome a Krakenite and build the future of crypto!\n\nProof of work\n\nThe team\n\nJoin a small, talented team of engineers building high-quality enhancements and bringing new utility to Kraken. In this role, you’ll take significant ownership of technical decisions, collaborate closely with product, and cross-functional engineering teams to deliver exciting new opportunities.\n\nThe opportunity\n\nDesign, develop, and maintain scalable, high-quality applications using TypeScript\nCollaborate with product managers, designers, and team members to deliver features end-to-end\nWrite clean, maintainable code with a strong emphasis on type safety and performance\nReview code, provide constructive feedback, and uphold engineering best practices Debug, troubleshoot, and resolve complex technical issues\nContribute to architecture decisions and technical roadmaps\n\nSkills You Should HODL\n\n7+ years of full-time engineering experience within a large technology organization or fast growing startup\n7+ years of experience building backend services with Node.js, Typescript\nExperience working with GraphQL, SQL, RESTful APIs and WebSockets\nExperience working with blockchain technology and DeFi\nSolid understanding of software engineering fundamentals (data structures, APIs, async programming)\nKnowledge of version control systems (Git) and collaborative development workflows\nAbility to write clear technical documentation and communicate effectively\nUnderstanding user authentication and authorization between multiple systems, servers, and environments\n\nThis job is accepting ongoing applications and there is no application deadline.\n\nPlease note, applicants are permitted to redact or remove information on their resume that identifies age, date of birth, or dates of attendance at or graduation from an educational institution.\n\nWe consider qualified applicants with criminal histories for employment on our team, assessing candidates in a manner consistent with the requirements of the San Francisco Fair Chance Ordinance.\n\nKraken is powered by people from around the world and we celebrate all Krakenites for their diverse talents, backgrounds, contributions and unique perspectives. We hire strictly based on merit, meaning we seek out the candidates with the right abilities, knowledge, and skills considered the most suitable for the job. We encourage you to apply for roles where you don't fully meet the listed requirements, especially if you're passionate or knowledgable about crypto!\n\nAs an equal opportunity employer, we don’t tolerate discrimination or harassment of any kind. Whether that’s based on race, ethnicity, age, gender identity, citizenship, religion, sexual orientation, disability, pregnancy, veteran status or any other protected characteristic as outlined by federal, state or local laws.\n\nStay in the know\n\nFollow us on Twitter\n\nLearn on the Kraken Blog\n\nConnect on LinkedIn\n\nCandidate Privacy Notice\n\nShow more Show less",
          "applicationsCount": "Be among the first 25 applicants",
          "contractType": "Full-time",
          "experienceLevel": "Mid-Senior level",
          "workType": "Engineering and Information Technology",
          "sector": "Financial Services",
          "posterFullName": "",
          "posterProfileUrl": "",
          "companyId": "3787845",
          "applyUrl": "https://jobs.ashbyhq.com/kraken.com/19011e5f-1e9b-4fda-80b5-391876e34f7d/application?utm_source=LinkedIn",
          "applyType": "EXTERNAL"
        }
      },
      {
        "json": {
          "jobId": "4363401219",
          "jobTitle": "Solution Architect PLM",
          "location": "Prague, Prague, Czechia",
          "salaryInfo": [],
          "postedTime": "11 hours ago",
          "publishedAt": "2026-01-23T00:00:00.000Z",
          "searchString": "AI solutions architect - Prague, Czechia",
          "jobUrl": "https://cz.linkedin.com/jobs/view/solution-architect-plm-at-siemens-digital-industries-software-4363401219?trk=public_jobs_topcard-title",
          "companyName": "Siemens Digital Industries Software",
          "companyUrl": "https://www.linkedin.com/company/siemenssoftware?trk=public_jobs_topcard-org-name",
          "companyLogo": "https://media.licdn.com/dms/image/v2/D4E0BAQFTiUh1DUJ3fA/company-logo_100_100/company-logo_100_100/0/1719793387652/siemenssoftware_logo?e=2147483647&v=beta&t=o3SrSdxMeP1br7rpKknaX62uVBkomXcqvR0mjnb0kBc",
          "jobDescription": "Siemens Digital Industries Software is a leading provider of solutions for the design, simulation, and manufacture of products across many different industries. Formula 1 cars, skyscrapers, ships, space exploration vehicles, and many of the objects we see in our daily lives are being conceived and manufactured using our Product Lifecycle Management (PLM) software.\n\nAs a Solution Architect, you'll work with teams managing complex engineering workflows and implementing systems that actually solve real problems! We're looking for someone who understands how design processes work in practice—not in theory—and can help organizations work more effectively with PLM solutions. What does success look like to you when a customer finally gets their system working the way they need it to?\n\nWe're hiring 2 Solution Architects to join our growing team across Central Europe.\n\nResponsibilities\n\nImplement PLM (Teamcenter) solutions using proven methodologies, working through the practical challenges that come up when introducing new systems into live environments\nCollaborate with the team to translate your knowledge of design processes into practical PLM implementations that deliver results\nWork with Program Managers, Project Managers, and other architects to make sure PLM solutions fit into the bigger picture of how the business operates\nDocument what works and what doesn't, capturing lessons learned with customers and teams so the organization keeps improving\nSupport pilot projects by testing proposed solutions, identifying what needs adjusting, and explaining findings to stakeholders\nHelp team members work through technical problems they encounter, offering guidance based on what you've learned\n\nQualifications\n\nDegree or equivalent professional experience in naval engineering, mechanical engineering, or a related field\nHands-on experience with PLM solutions, ideally Teamcenter—with examples of how you've applied them in real projects\nBackground in consulting or implementing product development processes, with actual projects you can point to\nAbility to explain technical concepts clearly to people who aren't engineers, and to listen when customers describe what they need\nTrack record of delivering results on time and to specification, with the ability to make decisions when information is incomplete\nWilling to travel when projects require it\n\nLanguage Requirements – Two Profiles:\n\nProfile 1: Fluent in English and Czech or Slovak\n\nProfile 2: Fluent in English (additional language skills are an asset)\n\nNice to have\n\nFamiliarity with digital manufacturing or advanced PLM approaches\nExperience in customer-facing implementation roles\n\nWe offer a comprehensive reward package which includes a competitive basic salary, bonus scheme, generous holiday allowance, pension, and private healthcare.\n\nWe value your unique identity and perspective. We are fully committed to providing equitable opportunities and building a workplace that reflects the diversity of society, while ensuring that we attract the best talent based on qualifications, skills, and experiences. We welcome you to bring your authentic self and transform the everyday with us.\n\nWhy us?\n\nWorking at Siemens Software means flexibility - Choosing between working at home and the office at other times is the norm here. We offer great benefits and rewards, as you'd expect from a world leader in industrial software. A collection of over 377,000 minds building the future, one day at a time in over 200 countries. We're dedicated to equality, and we welcome applications that reflect the diversity of the communities we work in. All employment decisions at Siemens are based on qualifications, merit, and business need. Bring your curiosity and creativity and help us shape tomorrow!\n\nSiemens Software. Transform the Everyday\n\nShow more Show less",
          "applicationsCount": "Be among the first 25 applicants",
          "contractType": "Full-time",
          "experienceLevel": "Mid-Senior level",
          "workType": "Engineering and Information Technology",
          "sector": "Software Development",
          "posterFullName": "",
          "posterProfileUrl": "",
          "companyId": "28423178",
          "applyUrl": "https://cz.linkedin.com/jobs/view/solution-architect-plm-at-siemens-digital-industries-software-4363401219?trk=public_jobs_topcard-title",
          "applyType": "EASY_APPLY"
        }
      },
      {
        "json": {
          "jobId": "4343205291",
          "jobTitle": "Senior Engineer Software, Notifications",
          "location": "Czechia",
          "salaryInfo": [],
          "postedTime": "4 hours ago",
          "publishedAt": "2026-01-23T00:00:00.000Z",
          "searchString": "AI solutions architect - Prague, Czechia",
          "jobUrl": "https://cz.linkedin.com/jobs/view/senior-engineer-software-notifications-at-paylocity-4343205291?trk=public_jobs_topcard-title",
          "companyName": "Paylocity",
          "companyUrl": "https://www.linkedin.com/company/paylocity?trk=public_jobs_topcard-org-name",
          "companyLogo": "https://media.licdn.com/dms/image/v2/D560BAQHxjm3xy0bOvg/company-logo_100_100/company-logo_100_100/0/1719768059035/paylocity_logo?e=2147483647&v=beta&t=XVTdTP2k0XWiVi79zN3tueyG4XxZAmGgofeUwmxPgIU",
          "jobDescription": "Job Type\n\nFull-time\n\nDescription\n\nLocation: Remote (Must be based anywhere in the Czech Republic)\n\nPaylocity is an award-winning provider of cloud-based HR and payroll software solutions, offering the most complete platform for the modern workforce. The company has become one of the fastest-growing HCM software providers worldwide by offering an intuitive, easy-to-use product suite that helps businesses automate and streamline HR and payroll processes, attract and retain talent, and build a strong workplace culture.\n\nWhile traditional HR and payroll providers automate basic HR processes such as payroll and benefits administration, Paylocity goes further by developing tools that HR and businesses need to compete for talent and deliver against the expectations of the modern workforce.\n\nHelp Paylocity enhance communication and enable employees to connect, collaborate, and create from anywhere with a position in Product & Technology!\n\nWant to develop the strategies and principles needed to deliver compelling software? Join our team and help us enhance our all-in-one software platform, elevate our one-of-a-kind technology, and improve the employee experience.\n\nTake your career to the next level at one of G2's Top 100 Software Companies. Explore our Product & Technology positions to see where you fit!\n\nAbout The Team\n\nThe Notifications team operates as a critical platform team, serving as the backbone for all communication systems across the company. Every email, SMS, and internal inbox notification flows through our infrastructure, making us an integral part of the entire organization's operations. Our team spans two regions—the Czech Republic and the United States—with two engineers based in CZ, three in the US, plus a dedicated QA engineer and product owner. This geographic distribution provides excellent coverage, allowing most on-call responsibilities to fall within standard CZ or US business hours. Our technical architecture centers on a microservices approach, utilizing numerous AWS Lambda functions that subscribe to message queues which ensures efficient processing while maintaining the robust resiliency.\n\nPosition Overview\n\nThe Senior Software Engineer leads technical initiatives and drives engineering excellence across our organization. This role combines technical expertise with leadership capabilities, focusing on architecting scalable solutions while mentoring and growing the engineering team.\n\nPrimary Responsibilities\n\nThe below represents the primary duties of the position, others may be assigned as needed. To perform this job successfully, an individual must be able to perform each essential duty satisfactorily. The requirements listed below are representative of the knowledge, skill, and/or ability required. Reasonable accommodations may be made to enable individuals with disabilities to perform the essential functions.\n\nCore Responsibilities\n\nArchitect and implement modular, maintainable software solutions that optimize for performance and scalability\nLead feature and epic design discussions, gathering and incorporating feedback from cross-functional teams\nDrive technical decision-making with consideration for business objectives and customer needs\nIdentify and resolve technical ambiguities through systematic analysis and collaboration\nOwn medium to large-scale projects from conception to delivery, requiring minimal supervision\nCoordinate across teams to identify and manage technical dependencies\nDevelop and execute comprehensive project plans aligned with business objectives\nMaintain high-quality standards while meeting project timelines\nChampion best practices in software development, testing, and deployment\nImprove CI/CD pipelines, testing frameworks, and monitoring systems\nProvide detailed, actionable code reviews that enhance overall code quality\nDrive technical debt reduction initiatives and refactor legacy code\n\nGrowth & Development\n\nGuide junior engineers in adopting best practices and modern development techniques\nFacilitate knowledge sharing through code reviews, pair programming, and technical discussions\nResolve conflicts independently when possible, escalating appropriately when needed\nInfluence technical direction through well-reasoned arguments and demonstrated expertise\n\nEducation And Experience\n\nBachelor's degree in Computer Science, Software Engineering, or related field\nMinimum 5 years of software engineering experience\nProven track record of leading significant technical initiatives\nExcellent written and verbal communication skills\nStrong analytical and problem-solving abilities\nCollaborative mindset with ability to influence peers\nAdaptable approach to changing requirements and priorities\n\nTechnical Skills\n\nStrong proficiency in software development languages and frameworks\nDemonstrated experience with agile development methodologies\nKnowledge of performance optimization techniques\nC# or a similar modern, object-oriented programming language\nDeep understanding of system architecture principles\n\nPhysical Requirements\n\nAbility to sit for extended periods: The role requires sitting at a desk or workstation for long periods, typically 7-8 hours a day.\nUse of computer and phone systems: The employee must be able to operate a computer, use phone systems, and type. This includes using multiple software programs and inquiries simultaneously.\n\nPaylocity is an equal-opportunity employer. Paylocity is committed to the full inclusion of all individuals. We recruit, train, compensate, and promote regardless of race, religion, color, national origin, sex, disability, age, veteran status, and other protected status as required by applicable law. At Paylocity, we believe diversity makes us better.\n\nWe embrace and encourage our employees’ differences in age, culture, ethnicity, family or marital status, gender identity or expression, language, national origin, physical and mental ability, political affiliation, race, religion or spiritual belief, sexual orientation, socio-economic status, veteran status, and other characteristics that make our employees unique. We actively cultivate these differences through our employee resource groups (ERGs), employee experiences, perspectives, talents, and approaches to drive innovation in the software and services we provide our customers.\n\nWe comply with federal and state disability laws and make reasonable accommodations for applicants and employees with disabilities. To request reasonable accommodation in the job application or interview process, please contact LeaveBenefits@paylocity.com. This email address is exclusively designated for such requests, aligning with federal and state disability laws. Please do not send resumes to this email address, as they will be removed.\n\nShow more Show less",
          "applicationsCount": "",
          "contractType": "Full-time",
          "experienceLevel": "Mid-Senior level",
          "workType": "Engineering and Information Technology",
          "sector": "Software Development",
          "posterFullName": "",
          "posterProfileUrl": "",
          "companyId": "24614",
          "applyUrl": "https://cz.linkedin.com/jobs/view/senior-engineer-software-notifications-at-paylocity-4343205291?trk=public_jobs_topcard-title",
          "applyType": "EASY_APPLY"
        }
      },
      {
        "json": {
          "jobId": "4365491987",
          "jobTitle": "Operátor technického seřizování strojů",
          "location": "Ústí n. Labem, Ústí nad Labem, Czechia",
          "salaryInfo": [],
          "postedTime": "1 hour ago",
          "publishedAt": "2026-01-23T00:00:00.000Z",
          "searchString": "AI operator - Prague, Czechia",
          "jobUrl": "https://cz.linkedin.com/jobs/view/oper%C3%A1tor-technick%C3%A9ho-se%C5%99izov%C3%A1n%C3%AD-stroj%C5%AF-at-stanley-black-decker-inc-4365491987?trk=public_jobs_topcard-title",
          "companyName": "Stanley Black & Decker, Inc.",
          "companyUrl": "https://www.linkedin.com/company/stanley-black-decker-inc?trk=public_jobs_topcard-org-name",
          "companyLogo": "https://media.licdn.com/dms/image/v2/C4D0BAQE5ahBMliaRVw/company-logo_100_100/company-logo_100_100/0/1631339258852?e=2147483647&v=beta&t=A4chC-egpdkGE-n1Cwtt-iSqQvLlo2VXofaJ5_dfXE8",
          "jobDescription": "Technické seřizování strojů\n\nWe Don’t Just Build The World, We Build Innovative Technology Too.\n\nJoining the Stanley Black & Decker team means working in an innovative, tech-driven and highly collaborative team environment supported by over 58,000 professionals in 60 countries across the globe. Here, you’ll get the unique chance to impact some of the world’s most iconic brands including STANLEY TOOLS, DEWALT, CRAFTSMAN, MAC TOOLS and Black + Decker. Your ideas and solutions have the potential to reach millions of customers as we work together to write the next chapter in our history. Come build with us and take your career to new heights.\n\nWho We Are\nWe’re the World’s largest tool company. We’re industry visionaries. We’re solving problems and advancing the manufacturing trade through innovative technology and our Industry 4.0 Initiative. We are committed to ensuring our state-of-the-art “smart factory” products and services provide greater quality to our customers & greater environmental and social value to our planet. We are unique in that we have a rich and storied history dating back to 1843, but that hasn't stopped us from evolving into a vibrant, diverse, global growth company.\n\nGlobal Benefits & Perks\nYou’ll be rewarded with a competitive salary plus receive entitlements and benefits unique to your country of hire.\n\nWhat You’ll Also Get\nCareer Opportunity: Career paths aren’t linear here. Being part of our global company with 60+ brands gives you the chance to grow and develop your skills along multiple career paths.\n\nLearning & Development: \n\nOur lifelong learning philosophy means you’ll have access to a wealth of state-of-the-art learning resources, including our Lean Academy and online university (where you can get certificates and specializations from renowned colleges and universities).\n\nDiverse & Inclusive Culture:\n\nWe pride ourselves on being an awesome place to work. We respect and embrace differences because that’s how the best work gets done. You’ll find we like to have fun here, too.\n\nPurpose-Driven Company:\n\nYou’ll help us continue to make positive changes in the local communities where we work and live as well as in the broader world through volunteerism, giving back and sustainable business practices. \nShow more Show less",
          "applicationsCount": "Be among the first 25 applicants",
          "contractType": "Full-time",
          "experienceLevel": "Associate",
          "workType": "Manufacturing",
          "sector": "Appliances, Electrical, and Electronics Manufacturing, Industrial Machinery Manufacturing, and Manufacturing",
          "posterFullName": "",
          "posterProfileUrl": "",
          "companyId": "884316",
          "applyUrl": "https://sbdinc.wd1.myworkdayjobs.com/Stanley_Black_Decker_Career_Site/job/st-n-Labem-Czechia/Opertor-technickho-seizovn-stroj_REQ-1000045389?source=LinkedIn",
          "applyType": "EXTERNAL"
        }
      },
      {
        "json": {
          "jobId": "4355287797",
          "jobTitle": "Data Scientist",
          "location": "Prague, Prague, Czechia",
          "salaryInfo": [],
          "postedTime": "7 hours ago",
          "publishedAt": "2026-01-23T00:00:00.000Z",
          "searchString": "Agentic AI - Prague, Czechia",
          "jobUrl": "https://cz.linkedin.com/jobs/view/data-scientist-at-ibm-4355287797?trk=public_jobs_topcard-title",
          "companyName": "IBM",
          "companyUrl": "https://www.linkedin.com/company/ibm?trk=public_jobs_topcard-org-name",
          "companyLogo": "https://media.licdn.com/dms/image/v2/D560BAQGiz5ecgpCtkA/company-logo_100_100/company-logo_100_100/0/1688684715866/ibm_logo?e=2147483647&v=beta&t=HPSmWLOCvdPkWO1nRWwjjmCNpaCqww20rSJ4E54QtxQ",
          "jobDescription": "Introduction\n\nYou will be working in an agile, collaborative environment, partnering with other scientists, engineers, consultants and specialists of all backgrounds and disciplines to bring analytical rigor and statistical methods to the data-driven application development\n\nYour Role And Responsibilities\n\nImplementing,validatingand maintaining predictive,prescriptiveand generative (foundation) models with a focus on big data\nEvaluating modelling results and communicating the results to technical and non-technical audiences\nWorking with both open source and proprietary technologies (such as IBM Cloud, Google Cloud Platform, Microsoft Azure, AWS...)\nCommunicating with internal and external clients to understand and define businessneeds\nInitial project analysis, setting up projectactivities in the data science area andmonitoringtheirdelivery\nAbility to translate business challenges into (generative) AI solutions.\nExplain complex GenAI concepts to non-technical stakeholders.\nAssistingclients inleveragingtheir data resources and acting as an advocate of data-driven application development \n\nPreferred Education\n\nMaster's Degree\n\nRequired Technical And Professional Expertise\n\nYou have at least 2 years of experience in the data science field \nYou have a strong understanding of the core data science algorithms and statistics fundamentals \nYou're proficient in at least one of the key programming languages used in data science such as Python (preferred) and have a solid understanding of Object-Oriented Programming (OOP) principles.You have a demonstrated knowledge of data manipulation, data mining and a variety of supervised and/or unsupervised modeling techniques \nYou have strong technical and analytical abilities, a knack for driving impact and growth \nYou're comfortable with solving problems by looking at things differently, debugging, troubleshooting, and designing & implementing solutions to complex technical issues \nYou have a proven record of transforming user requirements into production-ready analytical applications \nYou can communicate with a wide range of audience in both English and Czech \n\nPreferred Technical And Professional Experience\n\nYou thrive on teamwork and have excellent verbal and written communication skills \nYou have experience with NLP techniques and generative AI \nYou have a solid knowledge of one or more cloud computing platforms such as IBM Cloud, Microsoft Azure, Google Cloud Platform, or AWS \nYou have experience with additional programming languages or other data science tools, such as big data processing frameworks \nYou have practical knowledge of agentic AI systems — designing, deploying, and orchestrating autonomous AI agents that integrate reasoning, planning, and tool use.\nShow more Show less",
          "applicationsCount": "Be among the first 25 applicants",
          "contractType": "Full-time",
          "experienceLevel": "Mid-Senior level",
          "workType": "Engineering and Information Technology",
          "sector": "IT Services and IT Consulting",
          "posterFullName": "",
          "posterProfileUrl": "",
          "companyId": "1009",
          "applyUrl": "https://cz.linkedin.com/jobs/view/data-scientist-at-ibm-4355287797?trk=public_jobs_topcard-title",
          "applyType": "EASY_APPLY"
        }
      },
      {
        "json": {
          "jobId": "4343048480",
          "jobTitle": "Senior Marketing Analyst, AI and Insights",
          "location": "Czechia",
          "salaryInfo": [],
          "postedTime": "3 hours ago",
          "publishedAt": "2026-01-23T00:00:00.000Z",
          "searchString": "AI Ops - Prague, Czechia",
          "jobUrl": "https://cz.linkedin.com/jobs/view/senior-marketing-analyst-ai-and-insights-at-bloomreach-4343048480?trk=public_jobs_topcard-title",
          "companyName": "Bloomreach",
          "companyUrl": "https://www.linkedin.com/company/bloomreach?trk=public_jobs_topcard-org-name",
          "companyLogo": "https://media.licdn.com/dms/image/v2/C560BAQGkRJWk0eX3Ug/company-logo_100_100/company-logo_100_100/0/1631655278276/bloomreach_logo?e=2147483647&v=beta&t=N0FA-9Bnoxyp2rk_adEuhfTSiqjybsU_FyiFjIQjvks",
          "jobDescription": "Bloomreach is building the world’s premier agentic platform for personalization.We’re revolutionizing how businesses connect with their customers, building and deploying AI agents to personalize the entire customer journey.\n\nWe're taking autonomous search mainstream, making product discovery more intuitive and conversational for customers, and more profitable for businesses.\nWe’re making conversational shopping a reality, connecting every shopper with tailored guidance and product expertise — available on demand, at every touchpoint in their journey.\nWe're designing the future of autonomous marketing, taking the work out of workflows, and reclaiming the creative, strategic, and customer-first work marketers were always meant to do.\n\n\nAnd we're building all of that on the intelligence of a single AI engine — Loomi AI — so that personalization isn't only autonomous…it's also consistent.From retail to financial services, hospitality to gaming, businesses use Bloomreach to drive higher growth and lasting loyalty. We power personalization for more than 1,400 global brands, including American Eagle, Sonepar, and Pandora.\n\nBloomreach is seeking a Senior Marketing Analyst who obsesses over data, understands marketing channels at a granular level, and leverages AI tools to unlock insights that drive GTM performance. In this role, you will be part of the AI Marketing Ops team, working to measure, optimize, and scale our marketing campaigns through intelligent analytics, real-time dashboards, and data-driven recommendations. You'll own channel performance tracking, pipeline funnel analysis, ROI measurement, and attribution—turning raw data into actionable insights that inform strategy and accelerate revenue growth. You'll experiment with AI-powered analytics platforms, build sophisticated dashboards, and continuously optimize our measurement framework to capture what truly matters. The ideal candidate is obsessed with data patterns, comfortable living in spreadsheets and BI tools, thrives in a fast-moving environment, and would rather spend 2 hours building an analytics system than 1 hour manually pulling reports.\n\nYou can work in one of our Central Europe offices (Bratislava, Brno, Prague) or from home in Central and Eastern Europe on a full-time basis. \n\nYour job will be to:\n\nTrack and analyze channel performance across the full marketing stack: Dive deep into the performance of every channel—paid ads, email, content, partnerships, events, direct, and organic. Use AI tools like Infinigrow, Amoeb.ai, or similar platforms to uncover performance patterns, benchmark against industry standards, and identify optimization opportunities. Build dashboards that show real-time channel metrics, cost per lead, engagement rates, and conversion velocity.\n\nMeasure and optimize ROI across campaigns and initiatives: Own the complete ROI picture—from first touch to closed deal. Calculate true ROI by channel, campaign, and tactic. Identify which marketing investments generate the best pipeline quality, shortest sales cycles, and highest win rates. Use data to recommend budget reallocation and help the team spend smarter.\n\nBuild and maintain pipeline funnel analytics: Create comprehensive dashboards tracking pipeline flow from lead through close. Measure conversion rates at each stage, identify funnel bottlenecks, and understand where leads stall or accelerate. Connect marketing-generated pipeline to revenue outcomes, and show the business what marketing truly delivered.\n\nExperiment with AI-powered analytics tools: Test new platforms—Infinigrow, Amoeb.ai, Crayon, Dimension, or emerging AI analytics tools that drop. Evaluate which tools best surface insights, predict trends, or automate reporting. Stay on top of the analytics landscape and bring fresh approaches to how we measure and interpret data.\n\nBuild intelligent dashboards and reporting systems: Design dashboards that answer the questions GTM teams actually need answered. Move beyond vanity metrics to actionable insights. Create self-serve dashboards that help marketers, sales leaders, and executives understand performance without asking you for reports. Automate routine reporting so the team gets fresh insights daily.\n\nAnalyze attribution and customer journey: Map the full customer journey—how prospects move through touchpoints, which interactions matter most, and what sequence of events leads to pipeline creation. Use multi-touch attribution or AI-powered attribution models to credit channels appropriately. Understand not just what converts, but why.\n\nIdentify trends, anomalies, and optimization opportunities: Monitor performance daily and spot patterns others miss. Use AI tools and statistical analysis to flag underperforming channels, discover emerging opportunities, and surface early warning signs. Proactively recommend tests and optimizations before performance degrades.\n\nRun experiments and measure impact: Design and execute A/B tests on campaigns, messaging, channels, and timing. Track statistically significant results. Build a culture of experimentation where everything is tested, and recommendations are backed by data.\n\nCreate predictive models and forecasts: Use historical data to forecast pipeline generation, predict campaign performance before launch, and model the impact of budget changes. Help the team plan with confidence based on what the data shows is likely.\n\nEnable the GTM team with data: Create training sessions on how to read dashboards and interpret metrics. Explain statistical concepts in plain language. Help non-analytical teammates become data-informed decision makers. Be the translator between raw data and business impact.\n\nYour success story will be:\n\nWithin the first 30-60 days: You've connected the primary analytics tools (GA, Salesforce, paid ad platforms, email systems) and built 2-3 foundational dashboards tracking channel performance and pipeline flow. You've set up automated reporting so the team gets weekly insights without manual pulls. You've started experimenting with AI analytics tools and identified your top 2-3 favorites. You understand the current marketing tech stack, data flows, and key metrics that matter to leadership.\n\nAfter 60-90 days: You own a comprehensive analytics system covering channel performance, ROI by campaign, and full-funnel pipeline metrics. You've identified 3-5 optimization opportunities and tested at least 2 backed by data. You're producing weekly analytics reports that influence marketing decisions. You've integrated an AI-powered analytics tool into the workflow and are using it to surface insights the team wouldn't find manually. You've built self-serve dashboards that reduce the team's dependency on you for routine questions.\n\nBy 6 months: You're the data authority the GTM team trusts. You own 15+ dashboards and automated reports covering every marketing and sales metric that matters. You've conducted deep-dive analyses on channel mix, attribution, and customer journey that directly informed budget allocation and strategy shifts. You've experimented with 4-5 different AI analytics platforms and have clear opinions on which tools work best for different analysis types. You've built predictive models for pipeline generation and campaign performance. The team confidently makes data-driven decisions because they trust your insights, and you're proactively identifying trends and opportunities before they become obvious.\n\nYou have the following experience and qualities:\n\nYou're fluent with data tools and platforms. You can navigate Salesforce, Google Analytics, paid ad platforms (Google Ads, LinkedIn, Meta), email analytics systems, and BI tools. You can pull data, query databases, or write simple SQL to get what you need. You're comfortable in Excel/Google Sheets and can build complex formulas, pivot tables, and data models.\n\nYou have hands-on experience with AI-powered analytics platforms like Infinigrow, Amoeb.ai, Crayon, Dimension, or similar tools. You understand how these platforms work, can interpret their recommendations, and can operationalize their insights into marketing action.\n\nYou obsess over marketing metrics and understand GTM deeply. You know the difference between MQL, SQL, and pipeline. You understand CAC, LTV, payback period, and attribution. You think about the full funnel—not just top-of-funnel vanity metrics. You care about what actually drives revenue, not just clicks or impressions.\n\nYou're actively exploring the AI analytics landscape. You follow the analytics space on Twitter/X, LinkedIn, and newsletters. You experiment with new tools when they launch. You understand how AI can surface insights faster, predict trends, and automate mundane analysis so you can focus on strategy.\n\nYou hate incomplete data and bad dashboards— and your instinct is to fix them. If you see a metric that doesn't make sense, you dig into the definition and the source. If a dashboard is confusing, you redesign it. You're obsessed with accuracy and clarity.\n\nYou're comfortable with ambiguity and learning fast. You don't need to know every tool on day one, but you're resourceful, curious, and can figure things out quickly. You ask good questions, research effectively, and ship analysis fast.\n\nYou think systematically about data. You understand data flows, dependencies, and what breaks when things change. You can design analytics systems that are maintainable, trustworthy, and scale as the business grows. You think about data quality, validation, and what could go wrong.\n\nYou thrive in fast-paced, ambiguous environments. You're excited to work where marketing strategy, tools, and best practices evolve weekly. You don't need perfect data to start—you iterate, you improve, and you course-correct based on what you learn.\n\nYou communicate clearly and tell stories with data. You can take a complex analysis and explain it to executives, marketers, and salespeople in language they understand. You know when to show numbers and when to show a chart. You're collaborative, you love enabling others to make better decisions, and you're excited to democratize data access across the GTM team.\n\nYou have a builder's mindset— you iterate fast, you're comfortable with 80% done today rather than perfect in three weeks, and you ship continuously. You prefer shipping a useful dashboard to perfection paralysis.\n\nPerks:\n\nYou'll get hands-on experience with the latest AI analytics and marketing intelligence tools—staying on the cutting edge as the space evolves rapidly. You'll work with real GTM data, build systems that influence strategy and revenue, and develop analytical skills that set you apart. You'll learn how to connect data to business impact, build dashboards that matter, and become the data expert your team relies on. You'll ship real analytics products that scale across the organization, and you'll build a portfolio of work that demonstrates mastery of modern marketing analytics and AI-powered insights.\n\nMore things you'll like about Bloomreach:\n\nCulture:\n\nA great deal of freedom and trust. At Bloomreach we don’t clock in and out, and we have neither corporate rules nor long approval processes. This freedom goes hand in hand with responsibility. We are interested in results from day one. \nWe have defined our 5 values and the 10 underlying key behaviors that we strongly believe in. We can only succeed if everyone lives these behaviors day to day. We've embedded them in our processes like recruitment, onboarding, feedback, personal development, performance review and internal communication. \nWe believe in flexible working hours to accommodate your working style. \nWe work virtual-first with several Bloomreach Hubs available across three continents. \nWe organize company events to experience the global spirit of the company and get excited about what's ahead. \nWe encourage and support our employees to engage in volunteering activities - every Bloomreacher can take 5 paid days off to volunteer*. \nThe Bloomreach Glassdoor page elaborates on our stellar 4.4/5 rating. The Bloomreach Comparably page Culture score is even higher at 4.9/5 \n\n\nPersonal Development:\n\nWe have a People Development Program -- participating in personal development workshops on various topics run by experts from inside the company. We are continuously developing & updating competency maps for select functions. \nOur resident communication coach Ivo Večeřa is available to help navigate work-related communications & decision-making challenges.* \nOur managers are strongly encouraged to participate in the Leader Development Program to develop in the areas we consider essential for any leader. The program includes regular comprehensive feedback, consultations with a coach and follow-up check-ins. \nBloomreachers utilize the $1,500 professional education budget on an annual basis to purchase education products (books, courses, certifications, etc.)* \n\n\nWell-being:\n\nThe Employee Assistance Program -- with counselors -- is available for non-work-related challenges.* \nSubscription to Calm - sleep and meditation app.* \nWe organize ‘DisConnect’ days where Bloomreachers globally enjoy one additional day off each quarter, allowing us to unwind together and focus on activities away from the screen with our loved ones. \nWe facilitate sports, yoga, and meditation opportunities for each other. \nExtended parental leave up to 26 calendar weeks for Primary Caregivers.* \n\n\nCompensation:\n\nRestricted Stock Units or Stock Options are granted depending on a team member’s role, seniority, and location.* \nEveryone gets to participate in the company's success through the company performance bonus.* \nWe offer an employee referral bonus of up to $3,000 paid out immediately after the new hire starts. \nWe reward & celebrate work anniversaries -- Bloomversaries!* \n\n\n(*Subject to employment type. Interns are exempt from marked benefits, usually for the first 6 months.)\n\nExcited? Join us and transform the future of commerce experiences!\n\nIf this position doesn't suit you, but you know someone who might be a great fit, share it - we will be very grateful!\n\nAny unsolicited resumes/candidate profiles submitted through our website or to personal email accounts of employees of Bloomreach are considered property of Bloomreach and are not subject to payment of agency fees.\n\nShow more Show less",
          "applicationsCount": "",
          "contractType": "Full-time",
          "experienceLevel": "Mid-Senior level",
          "workType": "Marketing and Sales",
          "sector": "Software Development, Advertising Services, and IT Services and IT Consulting",
          "posterFullName": "",
          "posterProfileUrl": "",
          "companyId": "36076",
          "applyUrl": "https://cz.linkedin.com/jobs/view/senior-marketing-analyst-ai-and-insights-at-bloomreach-4343048480?trk=public_jobs_topcard-title",
          "applyType": "EASY_APPLY"
        }
      },
      {
        "json": {
          "jobId": "4267085099",
          "jobTitle": "Principal Software Engineer, AI Platform Team - Europe Remote",
          "location": "Prague 5, Prague, Czechia",
          "salaryInfo": [],
          "postedTime": "3 hours ago",
          "publishedAt": "2026-01-23T00:00:00.000Z",
          "searchString": "AI implementation - Prague, Czechia",
          "jobUrl": "https://cz.linkedin.com/jobs/view/principal-software-engineer-ai-platform-team-europe-remote-at-vista-4267085099?trk=public_jobs_topcard-title",
          "companyName": "Vista",
          "companyUrl": "https://www.linkedin.com/company/vistaprint?trk=public_jobs_topcard-org-name",
          "companyLogo": "https://media.licdn.com/dms/image/v2/D4E0BAQGFN_SyodFChA/company-logo_100_100/company-logo_100_100/0/1702419497167/vistaprint_logo?e=2147483647&v=beta&t=xO0R22kKucsX-vVycNb0rvM8jVCU65tZV9u2bmPyF4Y",
          "jobDescription": "Our Team\n\nAI Engineering is a new team being formed here at VistaPrint to help drive enablement and adoption of Generative AI capabilities as well as build foundational primitives to help unlock productivity across the entire business. Engineers on this team will be leading the way for innovation in GenAI by helping us build capabilities at scale across all of our teams including MCP capabilities, LLM infrastructure and observability and agentic tooling.\n\nWhat You Will Do\n\nLead a newly formed team of AI Engineers driving strategic design, adoption and implementation of large scale GenAI initiatives \nBuild and scale reusable platform components like AI Gateways, python and typescript SDKs, MCP capabilities, RAG pipelines, LLM frameworks, vector databases and other primitives enabling teams to build GenAI applications at scale with great tooling\nCreate and influence engineering wide standards for GenAI, and partner with existing Engineering teams to help drive adoption\nBuild and launch reusable automation workflow capabilities company wide to drive transformation of GenAI adoption across all business functions \n\nYour Qualifications\n\nAt VistaPrint, we are striving to hire individuals that add new ideas and perspectives to our teams and enhance our culture. No matter your background or work experience, we strongly encourage you to apply—even if you feel that you don’t meet the exact requirements or have the same qualifications. You might be a great candidate for this or other opportunities.\n\nProven expertise in developing and scaling GenAI applications in production using modern frameworks similar to LlamaIndex or Langraph that leverage various workflows like RAG, Multi-Agent or similar architectures\nA strong understanding of the advantages and limitations of different LLM models and providers to help guide optimal integration to our applications\n8+ Years of experience building web based application in Python, Node, Typescript, or GO at scale in production \nDeep understanding of GenAI primitives like vector databases, memory, semantic search, hybrid search, agentic workflows and patterns, MCP, A2A\nAbility to drive a long term technical roadmap, establish standards and evangelize those standards Engineering wide \nKnowledge of how to build, scale and deploy applications in AWS using systems like ECS, Fargate and EKS, ideally with IaC \nExperience integrating the AWS Bedrock ecosystem of tools into GenAI applications like Bedrock, Guardrails, Evaluations and Agents\nStrong communication skills and ability to partner with other Engineering leaders\n\nNice to Have\n\nAbility to help build and scale organization wide GenAI evaluation frameworks helping teams understand the efficacy of their applications \nImplementation of LLM observability tools \nExperience building and integrating MCP servers to AI applications, particularly with AuthZ and AuthN requirements \n\nWhy You'll Love Working Here\n\nThere is a lot to love about working at VistaPrint. We are an award winning Remote-First company. We’re an inclusive community. We’re growing (which means you can too). And to help orient us all in the same direction, we have our Vista Behaviors which exemplify the behavioral attributes that make us a culturally strong and high-performing team.\n\nAbout Us\n\nVistaPrint is the design and marketing partner to millions of small businesses around the world. For over 20 years we’ve been inspired by small businesses, and we work incessantly to deliver solutions to their evolving needs. Together, VistaCreate, 99designs by Vista and VistaPrint represent a full-service design, digital and print solution, elevating small businesses’ presence in physical and digital spaces and powering them to achieve success. VistaPrint is focused on making great marketing and design accessible to every small business owner, allowing them to create a cohesive brand image for use in-store, online and on-the-go.\n\nCommitment to Diversity, Equity, & Inclusion\n\nVistaPrint exists to help our customers live their dreams. Each dream is unique – and the VistaPrint team needs to be as well. We believe in the unique contributions of everyone within a diverse global organization. We are collaborative, inclusive, and innovative. We strive to role model and live an inclusive culture of fairness, respect and belonging for all. And we work together to empower each other, creating a space in which each of us can spark our next great idea.\n\nEqual Opportunity Employer\n\nVistaPrint, a Cimpress company, is an Equal Employment Opportunity Employer. All qualified candidates will receive consideration for employment without regard to race, color, sex, national or ethnic origin, nationality, age, religion, citizenship, disability, medical condition, sexual orientation, gender identity, gender presentation, legal or preferred name, marital status, pregnancy, family structure, veteran status or any other basis protected by human rights laws or regulations. This list is not exhaustive and, in fact, in many cases, we strive to do more than the law requires.\n\nShow more Show less",
          "applicationsCount": "",
          "contractType": "Full-time",
          "experienceLevel": "Mid-Senior level",
          "workType": "Engineering and Information Technology",
          "sector": "Technology, Information and Internet, Advertising Services, and Industrial Machinery Manufacturing",
          "posterFullName": "",
          "posterProfileUrl": "",
          "companyId": "8095",
          "applyUrl": "https://jobs.vista.com/Vista/job/Barcelona-Principal-Software-Engineer%2C-AI-Platform-Team-Europe-Remote-B-08019/1307956400/?feedId=281100&utm_source=LinkedInJobPostings&utm_campaign=Vistaprint_LinkedIn",
          "applyType": "EXTERNAL"
        }
      },
      {
        "json": {
          "jobId": "4319072343",
          "jobTitle": "Senior Machine Learning Engineer / Data Scientist",
          "location": "Czechia",
          "salaryInfo": [],
          "postedTime": "3 hours ago",
          "publishedAt": "2026-01-23T00:00:00.000Z",
          "searchString": "AI implementation - Prague, Czechia",
          "jobUrl": "https://cz.linkedin.com/jobs/view/senior-machine-learning-engineer-data-scientist-at-bloomreach-4319072343?trk=public_jobs_topcard-title",
          "companyName": "Bloomreach",
          "companyUrl": "https://www.linkedin.com/company/bloomreach?trk=public_jobs_topcard-org-name",
          "companyLogo": "https://media.licdn.com/dms/image/v2/C560BAQGkRJWk0eX3Ug/company-logo_100_100/company-logo_100_100/0/1631655278276/bloomreach_logo?e=2147483647&v=beta&t=N0FA-9Bnoxyp2rk_adEuhfTSiqjybsU_FyiFjIQjvks",
          "jobDescription": "Bloomreach is building the world’s premier agentic platform for personalization.We’re revolutionizing how businesses connect with their customers, building and deploying AI agents to personalize the entire customer journey.\n\nWe're taking autonomous search mainstream, making product discovery more intuitive and conversational for customers, and more profitable for businesses.\nWe’re making conversational shopping a reality, connecting every shopper with tailored guidance and product expertise — available on demand, at every touchpoint in their journey.\nWe're designing the future of autonomous marketing, taking the work out of workflows, and reclaiming the creative, strategic, and customer-first work marketers were always meant to do.\n\n\nAnd we're building all of that on the intelligence of a single AI engine — Loomi AI — so that personalization isn't only autonomous…it's also consistent.From retail to financial services, hospitality to gaming, businesses use Bloomreach to drive higher growth and lasting loyalty. We power personalization for more than 1,400 global brands, including American Eagle, Sonepar, and Pandora.\n\nBloomreach is seeking a seasoned Senior Machine Learning Engineer to own the design and implementation of cutting-edge AI and GenAI driven algorithmic components for search, recommendation and behavioral insights that are used to personalize digital experiences for our customers. We are currently allowing flexibility for our employees to work from anywhere for the respective region (Central & Eastern Europe) or we are happy to meet you in our offices in Bratislava (Slovakia) or Brno, Prague (Czechia) on a full-time basis.\n\nOur centralized data science team spanned across multiple geographies, is responsible for the data science modules that power all the products of the company, including Search Relevance, Recommendation, User Personalization, User Segmentations, Content Intelligence and Conversational Commerce. We invent and apply machine learning, data mining, and information retrieval algorithms to understand, identify, and improve web content discovery. We have built industry leading algorithms in search and recommendations for the commerce space that serve the most relevant experiences using Artificial Intelligence with the goal-building AI driven experiences beyond commerce.\n\nYour Responsibilities:\n\nDesign, develop, and enhance ML/AI models which mainly power Search and Recommendation.\nProcess historical data, search queries, product cathalog, and images to extract hidden relations and features.\nConduct research to explore ongoing cutting-edge ML techniques (especially deep learning) and conduct a quick POC.\nWork closely with Data Engineers and Senior Data Scientists to integrate and scale ML components to a production-level that can handle terabytes of data.\nContinuously learn and stay up to date with the current state-of-the-art techniques by reading research papers and attending AI/ML conferences.\n\n\nQualifications:\n\nBS/MS degree in Computer Science or a related discipline with a strong mathematical foundation and excellent programming skills (primarily Python)\nIdeally at least 5 years of experience building ML-driven fast and scalable ML/analytical algorithms in a corporate/startup environment.\nStrong awareness and understanding of recent trends in Generative AI and LLMs. Experience in working with GenAI stack will be treated as strong credentials.\nStrong understanding of various machine learning and natural language processing technologies, such as classification, information retrieval, clustering, knowledge graph, semi-supervised learning and ranking.\nExcellent exploratory data analysis skills with the ability to slice and dice data at scale using SQL in Redshift/BigQuery.\nGood problem solving and analytical skills. Ability to learn and adapt to newer ML technologies.\nExposure to deep learning stack (PyTorch/Keras/TensorFlow) and techniques (Representation/Transfer Learning, RNN/LSTM, Transformers).\nExperience working with Big Data in a cloud based production environment (AWS/GCP/Azure).\nEffective communication skill in English, both verbally and in written form.\n\n\nMore things you'll like about Bloomreach:\n\nCulture:\n\nA great deal of freedom and trust. At Bloomreach we don’t clock in and out, and we have neither corporate rules nor long approval processes. This freedom goes hand in hand with responsibility. We are interested in results from day one. \nWe have defined our 5 values and the 10 underlying key behaviors that we strongly believe in. We can only succeed if everyone lives these behaviors day to day. We've embedded them in our processes like recruitment, onboarding, feedback, personal development, performance review and internal communication. \nWe believe in flexible working hours to accommodate your working style. \nWe work virtual-first with several Bloomreach Hubs available across three continents. \nWe organize company events to experience the global spirit of the company and get excited about what's ahead. \nWe encourage and support our employees to engage in volunteering activities - every Bloomreacher can take 5 paid days off to volunteer*. \nThe Bloomreach Glassdoor page elaborates on our stellar 4.4/5 rating. The Bloomreach Comparably page Culture score is even higher at 4.9/5 \n\n\nPersonal Development:\n\nWe have a People Development Program -- participating in personal development workshops on various topics run by experts from inside the company. We are continuously developing & updating competency maps for select functions. \nOur resident communication coach Ivo Večeřa is available to help navigate work-related communications & decision-making challenges.* \nOur managers are strongly encouraged to participate in the Leader Development Program to develop in the areas we consider essential for any leader. The program includes regular comprehensive feedback, consultations with a coach and follow-up check-ins. \nBloomreachers utilize the $1,500 professional education budget on an annual basis to purchase education products (books, courses, certifications, etc.)* \n\n\nWell-being:\n\nThe Employee Assistance Program -- with counselors -- is available for non-work-related challenges.* \nSubscription to Calm - sleep and meditation app.* \nWe organize ‘DisConnect’ days where Bloomreachers globally enjoy one additional day off each quarter, allowing us to unwind together and focus on activities away from the screen with our loved ones. \nWe facilitate sports, yoga, and meditation opportunities for each other. \nExtended parental leave up to 26 calendar weeks for Primary Caregivers.* \n\n\nCompensation:\n\nRestricted Stock Units or Stock Options are granted depending on a team member’s role, seniority, and location.* \nEveryone gets to participate in the company's success through the company performance bonus.* \nWe offer an employee referral bonus of up to $3,000 paid out immediately after the new hire starts. \nWe reward & celebrate work anniversaries -- Bloomversaries!* \n\n\n(*Subject to employment type. Interns are exempt from marked benefits, usually for the first 6 months.)\n\nExcited? Join us and transform the future of commerce experiences!\n\nIf this position doesn't suit you, but you know someone who might be a great fit, share it - we will be very grateful!\n\nAny unsolicited resumes/candidate profiles submitted through our website or to personal email accounts of employees of Bloomreach are considered property of Bloomreach and are not subject to payment of agency fees.\n\nShow more Show less",
          "applicationsCount": "",
          "contractType": "Full-time",
          "experienceLevel": "Mid-Senior level",
          "workType": "Engineering and Information Technology",
          "sector": "Software Development, Advertising Services, and IT Services and IT Consulting",
          "posterFullName": "",
          "posterProfileUrl": "",
          "companyId": "36076",
          "applyUrl": "https://job-boards.greenhouse.io/bloomreach/jobs/7317139?gh_src=f6a758901us",
          "applyType": "EXTERNAL"
        }
      },
      {
        "json": {
          "jobId": "4355316663",
          "jobTitle": "AI Engineer",
          "location": "Prague, Prague, Czechia",
          "salaryInfo": [],
          "postedTime": "2 hours ago",
          "publishedAt": "2026-01-23T00:00:00.000Z",
          "searchString": "AI engineer - Prague, Czechia",
          "jobUrl": "https://cz.linkedin.com/jobs/view/ai-engineer-at-analytics-data-factory-s-r-o-4355316663?trk=public_jobs_topcard-title",
          "companyName": "Analytics Data Factory s.r.o.",
          "companyUrl": "https://cz.linkedin.com/company/analytics-data-factory-s.r.o.?trk=public_jobs_topcard-org-name",
          "companyLogo": "https://media.licdn.com/dms/image/v2/C4D0BAQHFGvLYhID2JQ/company-logo_100_100/company-logo_100_100/0/1630579067752/analytics_data_factory_sro_logo?e=2147483647&v=beta&t=WXTy0y3mvnlZFl3VamzcjqzMqjEYtDk0ffuEsb9lgTw",
          "jobDescription": "We are looking for an AI Engineer to join our Cloud & AI team. You will focus on developing and implementing AI solutions built on large language models (LLMs) and supporting business and IT teams in their practical deployment.\nResponsibilities\nDesign and develop advanced LLM systems including RAG/CAG architecture\nCreate training programs and share knowledge about LLM models (especially OpenAI) with business teams\nCollaborate with cross-functional teams to integrate AI technologies aligned with business objectives\nLead technical initiatives related to LLMs – optimization and scalability\nExperiment and adapt AI solutions to specific industry needs\nProvide hands-on support to business and IT teams in delivering AI solutions\nPropose and explain testing approach for AI deliverables\n\nQualifications\nExperience developing and implementing RAG/CAG systems for complex data extraction and analysis\nExpertise in LLMs and agentic platforms\nExperience with programming and AI modeling, familiarity with AI frameworks\nProven track record in AI projects, particularly NLP and machine learning applications\nUnderstanding of technical infrastructure in large corporations, especially AZURE environment\nStrong foundation in experimental design and research-oriented approach\nExperience with knowledge sharing and upskilling teams\nExcellent communication and collaboration skills\nFluent Czech\n\n(Preferred: experience with cloud technologies for deploying and scaling AI models, building agentic solutions for various business use cases, AI-based process automation, integrating AI into case/document/data handling platforms)\nShow more Show less",
          "applicationsCount": "Be among the first 25 applicants",
          "contractType": "Full-time",
          "experienceLevel": "Entry level",
          "workType": "",
          "sector": "Information Technology & Services",
          "posterFullName": "Martin Rajchert",
          "posterProfileUrl": "https://cz.linkedin.com/in/martin-rajchert",
          "companyId": "18034496",
          "applyUrl": "https://cz.linkedin.com/jobs/view/ai-engineer-at-analytics-data-factory-s-r-o-4355316663?trk=public_jobs_topcard-title",
          "applyType": "EASY_APPLY"
        }
      },
      {
        "json": {
          "jobId": "4365372084",
          "jobTitle": "Processor Verification Engineer (all seniority levels)",
          "location": "Czechia",
          "salaryInfo": [],
          "postedTime": "19 hours ago",
          "publishedAt": "2026-01-22T00:00:00.000Z",
          "searchString": "AI engineer - Prague, Czechia",
          "jobUrl": "https://cz.linkedin.com/jobs/view/processor-verification-engineer-all-seniority-levels-at-axelera-ai-4365372084?trk=public_jobs_topcard-title",
          "companyName": "Axelera AI",
          "companyUrl": "https://nl.linkedin.com/company/axelera-ai?trk=public_jobs_topcard-org-name",
          "companyLogo": "https://media.licdn.com/dms/image/v2/C4D0BAQG5JoNHmUt4aw/company-logo_100_100/company-logo_100_100/0/1631087254252/axelera_ai_logo?e=2147483647&v=beta&t=xgY6QSLXmeHkdZkosbvWIkoU7exIW_oEgE0rN8bUtIw",
          "jobDescription": "About Us\n\nAxelera AI is not your regular deep-tech startup. We are creating the next-generation AI platform to support anyone who wants to help advancing humanity and improve the world around us.\n\nIn just four years, we have raised a total of $120 million and have built a world-class team of 220+ employees (including 49+ PhDs with more than 40,000 citations), both remotely from 17 different countries and with offices in Belgium, France, Switzerland, Italy, the UK, headquartered at the High Tech Campus in Eindhoven, Netherlands.\n\nWe have also launched our Metis™ AI Platform, which achieves a 3-5x increase in efficiency and performance, and have visibility into a strong business pipeline exceeding $100 million.\n\nOur unwavering commitment to innovation has firmly established us as a global industry pioneer.\n\nAre you up for the challenge?\n\nPosition Overview\n\nAs a Processor Verification Engineer at Axelera AI, you will join a team responsible for the verification of an in-house designed RISC-V based AI Processor Core and its sub-components. Your role will be critical in achieving the highest level of quality and performance in our products. This is an opportunity to work with cutting-edge technology and a dedicated team of professionals who share your passion for pushing the boundaries of what's possible.\n\nThis is not a cookie-cutter role and the successful applicant is expected to bring experience to drive a pragmatic and effective approach to a complicated problem space.\n\nWe are open to a range of experience levels for this opportunity.\n\nKey responsibilities:\n\nDevelop and execute verification plans for Processor units, ensuring all requirements and specifications are met. \nDesign and implement constrained random testbenches for processor core. \nCollaborate with architecture, RTL design, and compiler teams to ensure thorough verification coverage. \nPerform functional, performance, and stress testing on processor units. \nDevelop and maintain test scripts and automation tools. \nIdentify and debug issues, providing detailed documentation and reports. \nDrive the development and maintenance of processor verification methodologies. \nCollaborate with cross-functional teams to ensure verification milestones are achieved. \n\nQualifications:\n\nEducation: A degree in electronics engineering, electrical engineering or computer science or other relevant discipline.\n\nExperience: A minimum of 5 years of experience in ASIC or FPGA verification, with a strong focus on processor verification especially using instruction set simulators.\n\nVerification Expertise: Proficiency in SystemVerilog and C/C++ or Python for designing and implementing testbenches, and test cases for processor verification. Understanding of verification flow for creating verification plans and coverage metrics. Experience with processor models such as Spike and QEMU are an advantage.\n\nCollaboration / Team Player: Demonstrated ability to work closely with processor architecture, RTL design, software and compiler teams to ensure comprehensive verification coverage.\n\nScripting: Proficiency in scripting languages such as Python, shell or Tcl for automation.\n\nProblem Solving: Strong analytical and problem-solving skills.\n\nCommunication: Excellent written and verbal communication skills. Comfortable working with a team spread across 15 countries.\n\nLocation\n\nWe offer a flexible working arrangement, with options to:\n\nWork from one of our Axelera AI offices (Leuven in Belgium, Amsterdam and Eindhoven in the Netherlands, Zurich in Switzerland, Florence and Milan in Italy or Bristol in the United Kingdom) if you're already based in the vicinity. \nWork fully remotely from any European country (incl. the UK) you are already in. \nRelocate with us and work from Italy (Florence or Milan) or the Netherlands (Amsterdam or Eindhoven). \n\nKindly note that priority will be given to candidates who are [interested in being] based in Belgium or Italy.\n\nWhat We offer \n\nThis is your chance to shape and be part of a dynamic, fast-growing, international organization. We offer an attractive compensation package, including a pension plan, extensive employee insurances and the option to get company shares. \n\nAn open culture that supports creativity and continual innovation is awaiting you. Collaborative ownership and freedom with responsibility is characteristic for the way we act and work as a team. \n\nAt Axelera AI, we wholeheartedly embrace equal opportunity and hold diversity in the highest regard. Our steadfast commitment is to cultivate a warm and inclusive environment that empowers and celebrates every member of our team. We welcome applicants from all backgrounds to join us in shaping the future of AI.\n\nShow more Show less",
          "applicationsCount": "Be among the first 25 applicants",
          "contractType": "Full-time",
          "experienceLevel": "Entry level",
          "workType": "Other",
          "sector": "Semiconductor Manufacturing",
          "posterFullName": "",
          "posterProfileUrl": "",
          "companyId": "79738763",
          "applyUrl": "https://cz.linkedin.com/jobs/view/processor-verification-engineer-all-seniority-levels-at-axelera-ai-4365372084?trk=public_jobs_topcard-title",
          "applyType": "EASY_APPLY"
        }
      },
      {
        "json": {
          "jobId": "4341590043",
          "jobTitle": "Technical Lead/Staff Engineer",
          "location": "Czechia",
          "salaryInfo": [],
          "postedTime": "5 hours ago",
          "publishedAt": "2026-01-23T00:00:00.000Z",
          "searchString": "AI engineer - Prague, Czechia",
          "jobUrl": "https://cz.linkedin.com/jobs/view/technical-lead-staff-engineer-at-rws-group-4341590043?trk=public_jobs_topcard-title",
          "companyName": "RWS Group",
          "companyUrl": "https://uk.linkedin.com/company/rws-group?trk=public_jobs_topcard-org-name",
          "companyLogo": "https://media.licdn.com/dms/image/v2/D4D0BAQHp8SQdhwh8ow/company-logo_100_100/B4DZb4U7zVGYAQ-/0/1747922959928/rws_group_logo?e=2147483647&v=beta&t=eXiIzg7lMeIea8tz4cPaitFEWfepJ1_epWp_nN_IC74",
          "jobDescription": "This role will help scale the growth of our TrainAI offering - an advanced data services platform that delivers high-quality training data for machine learning and AI systems. Working with some of the world’s biggest technology companies, TrainAI combines human-in-the-loop workflows with proprietary tools and AI-assisted processes to support the development of accurate and scalable AI-training solutions.\n\nWe are looking for a Staff Engineer to lead the technical direction and architecture of our next-generation internal TrainAI platform. This is a strategic, senior individual contributor role focused on building scalable, reliable systems that:\nOnboard vendors faster,\nProvide visibility across the vendor lifecycle,\nMeasure quality and performance, and\nImprove utilisation and operational efficiency.\n\nYou will partner closely with Product, Data, and Train AI operations to simplify complex workflows, build unified data foundations, and help shape the core systems underpinning TrainAI’s growth.\n\nAbout Product & Technology\n\nProduct & Technology plays a pivotal role in aligning the organization with its strategic objectives and enhancing shareholder value. Product & Technology is responsible for establishing unified standards and governance practices throughout the company. Additionally, we oversee the development and maintenance of core applications essential for the seamless operation of various functions across the organization. We are committed to driving and executing future roadmaps that are in line with the overall strategic direction of RWS.\n\nWith a global reach, Product & Technology provides support services to over 7500 end users worldwide. We take pride in managing the information security operation and safeguarding all our assets. Our core functions encompass Enterprise & Technical Architecture, Network & Voice, Infrastructure, Service Delivery, Service Operations, Data & Analytics, Security & Quality Compliance, Transformation, Application Development, Enterprise Platforms, With a dedicated team of over 500 staff, Product & Technology ensures a strong presence across all regions, enabling efficient and effective support to our global operations.\n\n\nKey Responsibilities\n\nArchitecture & Technical Leadership\nDefine the technical architecture for TrainAI’s internal systems, ensuring scalability, reliability, and impact.\nSet engineering standards and guide teams through sound design decisions.\nLead the design of core platform components (workflows, data models, integrations).\nVendor Platform Development\nBuild systems that reduce vendor activation time and streamline onboarding.\nSupport development of quality measurement and vendor performance insights.\nCreate simple, unified workflows and tools that improve operational efficiency.\nCross-Functional Collaboration\nWork closely with Product to translate business goals into technical plans.\nPartner with TrainAI delivery teams to understand workflows and ensure the platform supports real-world needs.\nMentor engineers and elevate technical excellence across the TrainAI engineering organisation.\nExecution & Delivery\nLead complex technical initiatives end-to-end.\nDrive continuous improvement in system reliability, data quality, and ease of use.\n\n\nSkills & Experience\n\n8+ years software engineering experience with strong system design and architecture skills.\nExperience building internal platforms, workflow systems, or large-scale operational tools.\nStrong understanding of data modelling, APIs, and distributed systems.\nExcellent communicator who thrives in ambiguous, evolving problem spaces.\nAble to influence direction, mentor others, and take ownership of major technical outcomes.\nPrevious experience with .NET and cloud (GCP/Azure) skills is an advantage\n\n\nLife at RWS - If you like the idea of working with smart people who are passionate about growing the value of ideas, data and content by making sure organizations are understood, then you’ll love life at RWS.\n\nOur purpose is to unlock global understanding. This means our work fundamentally recognizes the value of every language and culture. So, we celebrate difference, we are inclusive and believe that diversity makes us strong. We want every employee to grow as an individual and excel in their career.\n\nIn return, we expect all our people to live by the values that unite us: to partner, putting clients fist and winning together, to pioneer, innovating fearlessly and leading with vision and courage, to progress, aiming high and growing through actions and to deliver, owning the outcome and building trust with our colleagues and clients.\n\nRWS embraces DEI and promotes equal opportunity, we are an Equal Opportunity Employer and prohibit discrimination and harassment of any kind. RWS is committed to the principle of equal employment opportunity for all employees and to providing employees with a work environment free of discrimination and harassment. All employment decisions at RWS are based on business needs, job requirements and individual qualifications, without regard to race, religion, nationality, ethnicity, sex, age, disability, or sexual orientation. RWS will not tolerate discrimination based on any of these characteristics.\n\nRecruitment Agencies: RWS Holdings PLC does not accept agency resumes. Please do not forward any unsolicited resumes to any RWS employees. Any unsolicited resume received will be treated as the property of RWS and Terms & Conditions associated with the use of such resume will be considered null and void.\n\nShow more Show less",
          "applicationsCount": "",
          "contractType": "Full-time",
          "experienceLevel": "Mid-Senior level",
          "workType": "Information Technology",
          "sector": "Translation and Localization",
          "posterFullName": "Adam Urbášek",
          "posterProfileUrl": "https://cz.linkedin.com/in/adam-urb%C3%A1%C5%A1ek-8b5829182",
          "companyId": "12582389",
          "applyUrl": "https://careers-rws.icims.com/jobs/5561/staff-engineer-%252525e2%25252580%25252593-train-ai/login?mode=job&iis=Job+Board&iisn=LinkedIn",
          "applyType": "EXTERNAL"
        }
      },
      {
        "json": {
          "jobId": "4332333422",
          "jobTitle": "Group Senior Analyst",
          "location": "Prague, Czechia",
          "salaryInfo": [],
          "postedTime": "23 hours ago",
          "publishedAt": "2026-01-22T00:00:00.000Z",
          "searchString": "AI specialist - Prague, Czechia",
          "jobUrl": "https://cz.linkedin.com/jobs/view/group-senior-analyst-at-international-workplace-group-plc-4332333422?trk=public_jobs_topcard-title",
          "companyName": "International Workplace Group plc",
          "companyUrl": "https://ch.linkedin.com/company/iwg-plc?trk=public_jobs_topcard-org-name",
          "companyLogo": "https://media.licdn.com/dms/image/v2/C560BAQFBdiu3fqiNKw/company-logo_100_100/company-logo_100_100/0/1676293479183/iwg_plc_logo?e=2147483647&v=beta&t=KA1rOgLfauwXJA_15rVPrChmMl3THebBRVAxYVTmWcs",
          "jobDescription": "Hiring Across Multiple locations\n\nJob Purpose\nThe Senior Analyst will develop and champion the foundational analytical framework for the organization, serving as a pivotal builder of our centralized analytics function. You will act as the primary analyst for cross-functional questions, providing rapid, insightful analysis to guide strategic decision-making and enable a truly data-driven approach to business challenges. This role is a unique opportunity to shape the future of analytics at a global FTSE 250 company, creating the systems and processes that will deliver long-term value.\n\nKey Responsibilities\nConduct rapid, high impact data analysis on complex business questions, translating C-suite and senior leadership inquiries into clear analytical hypotheses and delivering initial insights.\nLead the initial exploratory analysis for AI modelling projects, identifying key features and business mechanics to strategically guide Data Scientists and inform the development of robust machine learning solutions.\nPartner with data scientists and specialist functions to transform initial analyses into robust, automated reports and tools for business-wide adoption.\nManage and enhance a portfolio of key analytical tools, which are used to generate critical data such as KPIs, benchmarks, and targets for use across various business functions.\nDevelop and implement a centralized suite of analytical tools, models, and dashboards to empower a team of performance managers with data-driven insights.\n\nTeam Dynamics\n\nRole\nThe Senior Analyst reports into the Business Analytics Function, a centralized hub for data-driven strategy and execution. The role will be the cornerstone of a collaborative team:\nThe Data Science and Analytics Team (Your Team): As the \"R&D arm\" of the function, this team is responsible for translating new business questions into actionable insights and innovative analytical solutions.\nThe Regional Performance Management Team: This team serves as the \"boots on the ground,\" leveraging the tools you help to create to drive business performance.\nThe Analytics Operations Team: This team formalizes and automates established analytical processes, ensuring the long-term stability and scalability of the tools and algorithms you help to develop.\nThe role offers a unique opportunity to directly influence the entire analytical value chain, from initial exploration and strategic guidance to scalable implementation and on-the-ground impact.\n\nPersonal Abilities\nCommunication & Storytelling: The ability to translate complex data and analytical findings into clear, concise, and compelling narratives.\nProactive & Strategic Mindset: You're a self-starter who doesn't wait for questions. You're able to anticipate business needs, and identify analytical opportunities.\nBusiness Acumen: A deep curiosity and understanding of business drivers, financial models, and operational processes.\nIntellectual Humility: The ability to provide an initial, rapid analysis with the understanding that more detailed investigation may be needed.\nResilience & Adaptability: You thrive in a dynamic, fast-paced environment and are comfortable with a certain degree of ambiguity. You can pivot quickly between high-level strategic tasks and detailed, hands-on work.\n\nTechnical Abilities\nEducation: Continual use of numbers to undergraduate level\nMicrosoft 365: Advanced user, especially Excel, and ideally with use of Power Query\nPowerBI: Building reports essential, ideally with knowledge and use of DAX\n\nAbout The Company\nIWG has been at the forefront of flexible working for more than 30 years. With over 3,500 locations around the globe, spanning brands including Regus, Spaces, Signature and HQ, we have made it possible for businesses of all sizes to make the transition to hybrid working, empowering employees to work wherever and whenever is most convenient.\nWe help more than 8 million people and their businesses to work more productively, supported by a choice of professional, inspiring and collaborative workspaces, communities and services.\nAs the world’s leading provider of hybrid work solutions, with four times the number of locations compared to its nearest competitor, IWG is already working with over 80% of the Fortune 500 and counts businesses including Amazon, Netflix, EY and Uber amongst its customers.\nCompanies of all sizes are shifting to flexible working to lower costs, improve employee retention and lower their carbon emissions. The flexible workspace is expected to grow by 600% by 2023, when 30% of all office space will be hybrid. We are growing our network faster than ever to keep up with demand from customers as we work towards our goal of reaching 30,000 centres.\n\nCarbon Neutral Workplaces\nIWG’s purpose of helping everyone have a great day at work, while protecting people and the planet is at the heart of everything we do. We are proud to supply all of our customers worldwide with carbon neutral workplaces, and we have a strong climate action plan in place to help us achieve our objective of Net Zero emissions by 2040.\n\nLeading Employer Award\nIWG is proud to be the recipient of a Leading Employer Award in both 2022 and 2023. Awarded exclusively to the top 1% of employers, the accolade is testament to our diverse global workforce and the role everyone plays in bringing our purpose, culture and values to life, every single day.\n\nJoin us at https://careers.iwgplc.com/home\nShow more Show less",
          "applicationsCount": "Over 200 applicants",
          "contractType": "Full-time",
          "experienceLevel": "Mid-Senior level",
          "workType": "Analyst, Project Management, and Other",
          "sector": "Real Estate and Business Consulting and Services",
          "posterFullName": "",
          "posterProfileUrl": "",
          "companyId": "18424032",
          "applyUrl": "https://cz.linkedin.com/jobs/view/group-senior-analyst-at-international-workplace-group-plc-4332333422?trk=public_jobs_topcard-title",
          "applyType": "EASY_APPLY"
        }
      },
      {
        "json": {
          "jobId": "4365357824",
          "jobTitle": "Verification Engineer (all seniority levels)",
          "location": "Czechia",
          "salaryInfo": [],
          "postedTime": "19 hours ago",
          "publishedAt": "2026-01-22T00:00:00.000Z",
          "searchString": "AI engineer - Prague, Czechia",
          "jobUrl": "https://cz.linkedin.com/jobs/view/verification-engineer-all-seniority-levels-at-axelera-ai-4365357824?trk=public_jobs_topcard-title",
          "companyName": "Axelera AI",
          "companyUrl": "https://nl.linkedin.com/company/axelera-ai?trk=public_jobs_topcard-org-name",
          "companyLogo": "https://media.licdn.com/dms/image/v2/C4D0BAQG5JoNHmUt4aw/company-logo_100_100/company-logo_100_100/0/1631087254252/axelera_ai_logo?e=2147483647&v=beta&t=xgY6QSLXmeHkdZkosbvWIkoU7exIW_oEgE0rN8bUtIw",
          "jobDescription": "About Us\n\nAxelera AI is not your regular deep-tech startup. We are creating the next-generation AI platform to support anyone who wants to help advancing humanity and improve the world around us.\n\nIn just four years, we have raised a total of $120 million and have built a world-class team of 220+ employees (including 49+ PhDs with more than 40,000 citations), both remotely from 17 different countries and with offices in Belgium, France, Switzerland, Italy, the UK, headquartered at the High Tech Campus in Eindhoven, Netherlands.\n\nWe have also launched our Metis™ AI Platform, which achieves a 3-5x increase in efficiency and performance, and have visibility into a strong business pipeline exceeding $100 million.\n\nOur unwavering commitment to innovation has firmly established us as a global industry pioneer.\n\nAre you up for the challenge?\n\nPosition Overview\n\nAs a Verification Engineer at Axelera AI, you will join a team responsible for the verification of in-house designed, complex, multi-market AI accelerators. Your role will be critical in achieving the highest level of quality and performance in our products. This is an opportunity to work with cutting-edge technology and a dedicated team of professionals who share your passion for pushing the boundaries of what's possible.\n\nWe are open to a range of experience levels for this opportunity.\n\nKey responsibilities:\n\nGuarantee RTL designs are matching specifications and requirements. \nDefine, implement and execute verification plans to ensure the designs meet quality and performance goals. \nBuild and maintain automated verification environments. \nCollaborate and communicate regarding verification status, project progress, and issue resolution. \nWork closely with designers, architects and software engineers to develop effective and pragmatic approaches to complex problems. \nContribute to technical directions on all aspects of the verification domain. \n\nQualifications/Skills\n\nEducation: A degree in electronics engineering, electrical engineering, computer science or other relevant discipline.\n\nExperience: A minimum of 3 years of experience in ASIC or FPGA verification. Experience with emulation is an advantage.\n\nVerification Expertise: Proficiency in SystemVerilog, C/C++ or Python for designing and implementing testbenches. Experience with commercial simulation and formal verification tools and in UVM or CocoTB is an advantage.\n\nScripting: Proficiency in scripting languages such as Python, shell or Tcl for automation.\n\nCollaboration / Team Player: Demonstrated ability to work closely with architecture, RTL design, and software teams to ensure comprehensive verification coverage.\n\nProblem Solving: Strong analytical and problem-solving skills.\n\nCommunication: Good written and verbal communication skills in English. Comfortable working with a team spread across 15 countries.\n\nLocation\n\nWe offer a flexible working arrangement, with options to:\n\nWork from one of our Axelera AI offices (Leuven in Belgium, Amsterdam and Eindhoven in the Netherlands, Zurich in Switzerland, Florence and Milan in Italy or Bristol in the United Kingdom) if you're already based in the vicinity. \nWork fully remotely from any European country (incl. the UK) you are already in. \nRelocate with us and work from Italy (Florence or Milan) or the Netherlands (Amsterdam or Eindhoven). \n\nKindly note that priority will be given to candidates who are [interested in being] based in Belgium or Italy.\n\nWhat We offer \n\nThis is your chance to shape and be part of a dynamic, fast-growing, international organization. We offer an attractive compensation package, including a pension plan, extensive employee insurances and the option to get company shares. \n\nAn open culture that supports creativity and continual innovation is awaiting you. Collaborative ownership and freedom with responsibility is characteristic for the way we act and work as a team. \n\nAt Axelera AI, we wholeheartedly embrace equal opportunity and hold diversity in the highest regard. Our steadfast commitment is to cultivate a warm and inclusive environment that empowers and celebrates every member of our team. We welcome applicants from all backgrounds to join us in shaping the future of AI.\n\nShow more Show less",
          "applicationsCount": "Be among the first 25 applicants",
          "contractType": "Full-time",
          "experienceLevel": "Entry level",
          "workType": "Quality Assurance",
          "sector": "Semiconductor Manufacturing",
          "posterFullName": "",
          "posterProfileUrl": "",
          "companyId": "79738763",
          "applyUrl": "https://jobs.ashbyhq.com/axelera/4741375f-53b3-4c26-907f-fb067e8497bb/application?utm_source=6P1g5ZPoPv",
          "applyType": "EXTERNAL"
        }
      }
    ],
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-02-05T08:25:45.017+01:00",
          "Readable date": "February 5th 2026, 8:25:45 am",
          "Readable time": "8:25:45 am",
          "Day of week": "Thursday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "05",
          "Hour": "08",
          "Minute": "25",
          "Second": "45",
          "Timezone": "Europe/Prague (UTC+01:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Scrape linkedin jobs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Scrape linkedin jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'p1_lead_scrape_dedupe_upsert'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Standardize format (**adjust fields**)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add source": {
      "main": [
        [
          {
            "node": "Call 'p1_lead_scrape_dedupe_upsert'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize format (**adjust fields**)": {
      "main": [
        [
          {
            "node": "add source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape linkedin jobs 13": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Prague",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Zj1I7MhBC-OsOLt6D4Qyg"
  },
  "versionId": "d772ea0d-1938-465a-831c-1386ad8f3227",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d632457a9ca1b951db997b3c2dccbdfedbb1af868ba75f2add66522e265ced0"
  },
  "id": "OJEQZ66w295WEMeN",
  "tags": [
    {
      "updatedAt": "2026-01-22T12:40:37.040Z",
      "createdAt": "2026-01-22T12:40:37.040Z",
      "id": "mcS1gLAfDII7yoGe",
      "name": "lead_scrape"
    }
  ]
}
